<section id="banner">
  <div class="inner">

    <header class="mb2">
      <h1 emoji style="margin-bottom:0.5em">Hello you :relaxed: Welcome to Radon</h1>
      <h3>Online journaling, focused on security and simplicity</h3>
    </header>

    <footer class="mt1 mb3">
      <a ng-click="$ctrl.AuthService.signIn()" class="button"><i class="fa fa-google"></i> Sign in with Google</a>
    </footer>

    <p>
      Read the <a href ui-sref="app.introduction">introduction</a>
    </p>

  </div>
  </div>
</section>
