<section id="banner">
  <div class="inner">
    <header>
      <h1 emoji>Hello you :relaxed: Welcome to Radon</h1>
    </header>

    <!--<div class="flex ">

      <div>
        <span class="icon fa-car"></span>
        <h3>Aliquam</h3>
        <p>Suspendisse amet ullamco</p>
      </div>

      <div>
        <span class="icon fa-camera"></span>
        <h3>Elementum</h3>
        <p>Class aptent taciti ad litora</p>
      </div>

      <div>
        <span class="icon fa-bug"></span>
        <h3>Ultrices</h3>
        <p>Nulla vitae mauris non felis</p>
      </div>

    </div>-->

    <footer>
      <a ng-click="$ctrl.AuthService.signIn()" class="button"><i class="fa fa-google"></i> Sign in with Google</a>
    </footer>
  </div>
</section>
