<section id="banner">
  <div class="inner">
    <form ng-submit="$ctrl.submitEncryptionkey()">
      <div class="field" ng-show="$ctrl.encryptionkeySet">
        <h3>Please enter your encryption key</h3>
        <input name="name" id="encryptionkey" type="password" placeholder="Encryption Key">
      </div>
      <div class="field" ng-show="!$ctrl.encryptionkeySet">
        <h3>Let's set up your encryption key. Make it a good one!</h3>
        <div class="row">
          <div class="col-md-6">
            <input name="name" id="newencryptionkey" type="password" placeholder="Type your new encryption key">
          </div>
          <div class="col-md-6">
            <input name="name" id="confirmencryptionkey" type="password" placeholder="Confirm your key">
          </div>
        </div>
      </div>
      <ul class="actions" ng-show="$ctrl.encryptionkeySet">
        <li><input ng-show="$ctrl.encryptionkeySet" value="Unlock" class="button alt" type="submit"></li>
      </ul>
      <ul class="actions row end-xs" ng-show="!$ctrl.encryptionkeySet">
        <li><input ng-show="!$ctrl.encryptionkeySet" value="Set key" class="button alt" type="submit"></li>
        <li><input ng-show="!$ctrl.encryptionkeySet" value="Reset" class="button" type="reset"></li>
      </ul>
    </form>
  </div>
</section>
