<style media="screen">
  h4 {
    margin-bottom: 0.25em;
  }
</style>
<section id="three" class="wrapper">
  <div class="inner">
    <header class="align-center">
      <div class="row">
        <div class="col-xs-12">
          <h2>Introducing Radon</h2>
          <h3>Online journaling, focused on security and simplicity<h3>
        </div>
      </div>
    </header>

    <div class="row center-xs">
      <div class="col-lg-8 col-md-9 col-sm-12 start-xs" emoji>
        <h4 class="center-xs">What is it?</h4>
        <p>
          With Radon, you can create daily entries to follow up on your projects, life, ideas, ... pretty much anything you want.
          It uses zero-knowledge end-to-end encryption, so you know you can speak freely :relaxed:
        </p>

        <h4 class="center-xs">Another journaling app?</h4>
        <p>
          I used to be a big fan of <a href="http://ohlife.com" target="_blank">OhLife</a> (RIP).
          Every day, I'd write a quick summary of the stuff a got done, and what I was planning on doing next.
          One thing made me feel uneasy though: what if the site ever got breached?
          So I decided to try and create my own, zero-knowledge journal.
          That way, even if the database ever got hacked,
          I could sleep easy knowing it would only contain
          <a href="https://gist.github.com/nielsmaerten/48a64b1a8a7f603f585c7770e41654e9" target="_blank">unreadable gibberish</a>.
        </p>

        <h4 class="center-xs">Who made this?</h4>
        <p>
          Hi, I'm Niels! :grinning:
          I created Radon for the reasons above, and because I wanted to gain some hands-on experience with Angular, TypeScript and Firebase.
          You can check out some of my other projects on my website: <a href="https://niels.me">https://niels.me</a>
        </p>

        <h4 class="center-xs">Can I check out the code?</h4>
        <p>
          Yes you can! Right this way, please: <a href="https://github.com/nielsmaerten/radon">https://github.com/nielsmaerten/radon</a><br/>
          Pull requests, issue reports and comments are highly appreciated.
        </p>

        <h4 class="center-xs">Credits</h4>
        <ul>
          <li><a href="https://github.com/angular/angular/blob/master/LICENSE">AngularJS - Google</a></li>
          <li><a href="https://github.com/sachinchoolur/angular-trix/blob/master/LICENSE">Angular Trix - Sachin N</a></li>
          <li><a href="https://github.com/basscss/basscss/blob/master/LICENSE.md">Basscss - Brent Jackson</a></li>
          <li><a href="https://github.com/keybase/more-entropy/blob/master/LICENSE">More-entropy - Keybase</a></li>
          <li><a href="https://mrgnrdrck.mit-license.org/">Pubsub-js - Morgan Roderick</a></li>
          <li><a href="https://github.com/bitwiseshiftleft/sjcl/blob/master/LICENSE.txt">SJCL - Emily Stark, Mike Hamburg and Dan Boneh at Stanford University</a></li>
        </ul>

        <ul>
          <li><a href="https://templated.co">Template - Templated.co</a></li>
          <li><a href="https://unsplash.com/@honza_kahanek">Banner image - Jan Kahánek</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
