<style>
  .md-icon-button {
    color: #555 !important;
    box-shadow: inset 0 0 0 2px #555;
  }
  .dates-list {
    column-count: 3;
    column-gap: 1em;
  }
</style>
<calendar-md week-starts-on="1" ng-model="$ctrl.selectedDates" on-day-click="$ctrl.clickedDay" day-content="$ctrl.setDayContent"></calendar-md>
<div class="inner mt2 dates-list align-center">
  <p ng-repeat="date in $ctrl.StorageService.dates | orderBy">
    <a href ng-click="$ctrl.clickedDay(date)" >{{date | date:'fullDate'}}</a>
  </p>
</div>
